@using ClientWebApp.Repositories
@using Shared;

@inject DocumentsRepository DocumentsRepository
@inject DialogService DialogService

@if(initialLoading)
{
    <Loading />
}
else
{
    <h2>@Param</h2>
    
    <div class="mt-4 m-5">
        <div class="pb-3 pt-3">
        Seleziona questionario: <RadzenDropDown @bind-Value=@CurrentSelection Data=@DocumentsList Change="@(() => OnDocumentSelected())" Style="width: 100%; max-width: 100px;" Name="DropDownDocumentValue"/>
        </div>
        <RadzenFieldset Text="Questionario" class="shadow rounded" Style="font-weight:400;">
        @foreach(var category in documentModel.Categories)
        {
            <h6>@category.Text</h6>

            @foreach(var question in category.Questions)
            {
                <div class="pb-3 ps-2">
                    <p>@question.Text</p>
                    <RadzenDropDown @bind-Value=@question.CurrentChoice  Data=@question.Choices  TextProperty="Value" Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
                </div>
            }
        }

        <RadzenButton Icon="add" Text="Salva questionario" ButtonStyle="ButtonStyle.Primary" class="ButtonAdd"
                          Style="margin-bottom:2rem;margin-top:1rem;" Click="@(()=>SaveForm())" />
 
        </RadzenFieldset>
    </div>
}



