@using Shared.Documents

@inject CompaniesRepository CompaniesRepository
@inject NavigationService NavigationService
<div class="my-5">
    <h4>@title</h4>

    <RadzenTemplateForm TItem="CompanyModel" Data=@Company Submit=@Save>
        <RadzenStack class="rz-px-2">
            <div class="row">
                <div class="col">
                    <RadzenFormField Text="Ragione sociale impresa/Nominativo lavoratore autonomo" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="CompanyName" @bind-Value=@Company.CompanyName />
                        </ChildContent>
                    </RadzenFormField>
                </div>

                @*             <div class="col mt-md-0 mt-3">
                <RadzenFormField Text="Lavoratore autonomo" Variant="@variant" class="text-field">
                <ChildContent>
                <RadzenTextBox Name="SelfEmployedName" @bind-Value=@Company.SelfEmployedName />
                </ChildContent>
                </RadzenFormField>
                </div> *@
            </div>

            <RadzenFormField Text="Sede legale" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Address" @bind-Value=@Company.Address />
                </ChildContent>
            </RadzenFormField>

            <div class="row">
                <div class="col">
                    <RadzenFormField Text="C.F." Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="TaxId" @bind-Value=@Company.TaxId />
                        </ChildContent>
                    </RadzenFormField>
                </div>

                <div class="col mt-md-0 mt-3">
                    <RadzenFormField Text="Partita IVA" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="VatCode" @bind-Value=@Company.VatCode />
                        </ChildContent>
                    </RadzenFormField>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <RadzenFormField Text="Telefono" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="Phone" @bind-Value=@Company.Phone />
                        </ChildContent>
                    </RadzenFormField>
                </div>

                <div class="col mt-md-0 mt-3">

                    <RadzenFormField Text="Email" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="Email" @bind-Value=@Company.Email />
                        </ChildContent>
                    </RadzenFormField>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <RadzenFormField Text="PEC" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="PEC" @bind-Value=@Company.Pec />
                        </ChildContent>
                    </RadzenFormField>
                </div>
                <div class="col mt-md-0 mt-3">
                    <RadzenFormField Text="N. REA" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="NREA" @bind-Value=@Company.ReaNumber />
                        </ChildContent>
                    </RadzenFormField>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <RadzenFormField Text="Cassa Edile" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="WorkerWelfareFunds" @bind-Value=@Company.WorkerWelfareFunds />
                        </ChildContent>
                    </RadzenFormField>
                </div>
                <div class="col mt-md-0 mt-3">
                    <RadzenFormField Text="CCNL applicato" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="Ccnl" @bind-Value=@Company.Ccnl />
                        </ChildContent>
                    </RadzenFormField>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <RadzenFormField Text="Pos. INPS" Variant="@variant" class="text-field">
                        <ChildContent>
                            <RadzenTextBox Name="InpsId" @bind-Value=@Company.InpsId />
                        </ChildContent>
                    </RadzenFormField>
                </div>

                <div class="col mt-md-0 mt-3" <RadzenFormField Text="Matr. INAIL" Variant="@variant" class="text-field">
                <ChildContent>
                    <RadzenTextBox Name="InailId" @bind-Value=@Company.InailId />
                </ChildContent>
                </RadzenFormField>
            </div>

                <div class="col mt-md-0 mt-3">
                    @* <RadzenFormField Text="P.A.T. INAIL" Variant="@variant" class="text-field">
                    <ChildContent>
                    <RadzenTextBox Name="InailPat" @bind-Value=@Company.InailPat.First().Name />
                    </ChildContent>
                    </RadzenFormField> *@
                </div>

            </div>

            @*         <RadzenFormField Text="Lavori previsti" Variant="@variant">
            <ChildContent>
            <RadzenTextArea Name="JobsDescriptions" @bind-Value=@Company.JobsDescriptions />
            </ChildContent>
            </RadzenFormField> *@

            <RadzenButton Style="width: 200px;" ButtonType="ButtonType.Submit" Text="Salva" />
        </RadzenStack>
    </RadzenTemplateForm>
</div>