@using ConstructionSiteLibrary.Repositories
@using Shared
@using Shared.Documents

@inject CompaniesRepository CompaniesRepository
@inject DialogService DialogService
@inject NavigationService Navigation
@inject GlobalVariables GlobalVariables

<ScreenComponent @ref="screenComponent" />

@if (initialLoading)
{
    <Loading />
}
else
{
    <h2>@Param</h2>

    @* La tabella delle Aziende *@
    <div class="marginComponent">

        <RadzenFieldset class="shadow rounded" Style="font-weight:400;">
            <RadzenButton Icon="add" Text="Nuovo" ButtonStyle="ButtonStyle.Success" class="ButtonAdd"
                          Click="@(() => OpenAddCompanyPage())" Style="margin-bottom:2rem;margin-top:1rem;"  />
            <RadzenDataGrid @ref="grid" GridLines="@DataGridGridLines.Both" IsLoading=@isLoading Count="@count" PageSize="@pageSize" Data="@companies" TItem="CompanyModel"
                            AllowColumnResize="true" AllowAlternatingRows="true" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Simple"
                            AllowSorting="true" AllowPaging="true" ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" PagerHorizontalAlign="HorizontalAlign.Left"
                            Density="Density.Compact">

                <Columns>
                    <RadzenDataGridColumn TItem="CompanyModel"  Title="Nome" >
                        <Template Context="data">
                            @GetName(data)
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CompanyModel" Property="Address" Title="Indirizzo" Width="150px" />
                    <RadzenDataGridColumn TItem="CompanyModel" Property="Phone" Title="Telefono" Width="120px" />
                    <RadzenDataGridColumn TItem="CompanyModel" Property="Email" Title="Email" Width="120px" />
                    <RadzenDataGridColumn TItem="CompanyModel" Title="Azioni" Width="60px" Sortable="false">
                        <Template Context="data">
                                @* Mostro i bottoni solo se ho i permessi di modifica *@
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Variant="Variant.Filled" Size="ButtonSize.Large"
                                               Click="@(() => OpenUpdateCompany(data))" />
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Filled" Size="ButtonSize.Large"
                                               Click="@(() => Hide(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenFieldset>
    </div>


}
