@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared
@using Shared.Templates

@inject NavigationService NavigationService
@inject TemplatesRepository TemplatesRepository
@inject DialogService DialogService

<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{   

    <div class="mx-2 my-5">
        <SectionTitle PageTitle="Template" ButtonText="+ aggiungi template" SearchPlaceholder="Cerca template"
                        OnButtonClicked="@OpenWizard" OnSearchChanged="@SearchChanged" />
        
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Nome template</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                @if(displayedTemplates.Count > 0)
                {
                    @foreach(var template in displayedTemplates)
                    {
                        <tr @onclick="@(() => OnTemplateSelected(template))">
                            <td>@template.NameTemplate</td>
                            <td>@template.CreationDate</td>
                            <td>
                                <ButtonDropdown Object="@template" OnDeleteClicked="@OpenDeleteTemplate" DisableModify="true" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Nessun template trovato</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mt-5">
            <AxtPager PagingSummaryFormat="@pagingSummaryFormat" Count="@count" PageSize="@pageSize" OnPageChanged="@PageChanged" />
        </div>
    </div>

}