@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared
@using Shared.Templates

@inject NavigationService NavigationService
@inject TemplatesRepository TemplatesRepository
@inject DialogService DialogService

<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{   

    <div class="mx-2 my-5">
        <SectionTitle PageTitle="Template" ButtonText="+ aggiungi template" SearchPlaceholder="Cerca template"
                        OnButtonClicked="@OpenWizard" OnSearchChanged="@SearchChanged" />
        
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Nome template</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                @for(int i = 0; i < displayedTemplates.Count; i += 1)
                {
                    int index = i;
                    <tr @onclick="@(() => OnTemplateSelected(displayedTemplates[index]))">
                        <td>@displayedTemplates[i].NameTemplate</td>
                        <td>@displayedTemplates[i].CreationDate</td>
                        <td>
                            <ButtonDropdown Object="@displayedTemplates[i]"
                                OnUpdateClicked="@OpenModifyTemplate" OnDeleteClicked="@OpenDeleteTemplate"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-5">
            <AxtPager PagingSummaryFormat="@pagingSummaryFormat" Count="@count" PageSize="@pageSize" OnPageChanged="@PageChanged" />
        </div>
    </div>
}