@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared;
@using Shared.Documents;

@inject ClientsRepository ClientsRepository
@inject DialogService DialogService
@inject GlobalVariables GlobalVariables

<ScreenComponent @ref="screenComponent" />
@if (onLoading)
{
    <Loading />
}
else
{
    <div class="mx-2 my-5">
        <SectionTitle PageTitle="Committenti" ButtonText="+ aggiungi committente" SearchPlaceholder="Cerca committente"
                        OnButtonClicked="@OpenNewForm" OnSearchChanged="@SearchChanged" />

        <table class="table table-striped">
            <thead>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                @for(int i = 0; i < displayedClients.Count; i += 1)
                {
                    int index = i;
                    <tr>
                        <td>@displayedClients[i].Name</td>
                        <td>
                            <ButtonDropdown Object="@displayedClients[i]"
                                OnUpdateClicked="@OpenUpdateForm" OnDeleteClicked="@Hide"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-5">
            <AxtPager PagingSummaryFormat="@pagingSummaryFormat" Count="@count" PageSize="@pageSize" OnPageChanged="@PageChanged" />
        </div>
    </div>
}