@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared
@using Shared.Templates

@inject CategoriesRepository CategoriesRepository
@inject DialogService DialogService

<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="mx-2 my-5">
        <SectionTitle PageTitle="Categorie" ButtonText="+ aggiungi categoria" SearchPlaceholder="Cerca categoria"
        OnButtonClicked="@OpenNewForm" OnSearchChanged="@SearchChanged" />
    
        <table class="table table-striped">
            <thead>
                <th scope="col">N.</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                @if(displayedCategories.Count > 0)
                {
                    @foreach(var cat in displayedCategories)
                    {
                        <tr>
                            <td>@cat.Order</td>
                            <td>@cat.Text</td>
                            <td>
                                <ButtonDropdown Object="@cat"
                                                OnUpdateClicked="@OpenUpdateForm" OnDeleteClicked="@Hide" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">Nessuna categoria trovata</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-5">
            <AxtPager PagingSummaryFormat="@pagingSummaryFormat" Count="@count" PageSize="@pageSize" OnPageChanged="@PageChanged" />
        </div>
    
    </div>
}
