@using ConstructionSiteLibrary.Repositories
@using Shared
@inject CategoriesRepository CategoriesRepository
@inject QuestionRepository QuestionRepository

@if (onLoading)
{
    <Loading/>
}
else
{
    <div class="">
        <RadzenTemplateForm TItem="FormQuestionData" Data=@form Submit=@Save>
            <RadzenStack class="px-2">
                <RadzenFormField Text="Testo <span style='color:red'> (obbligatorio)</span>" Variant="@variant">
                    <ChildContent>
                        <RadzenTextArea Name="Testo" @bind-Value="@form.Text" Rows="3"/>
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="Testo" Popup=false Text="Il campo Testo è obbligatorio" />
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Categoria <span style='color:red'> (obbligatorio)</span>" Variant="@variant">
                    <ChildContent>
                        <RadzenDropDownDataGrid Data="@categories" TextProperty="Text" ValueProperty="Id" @bind-Value="@form.IdCategory"
                                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                                AllowColumnResize="true" AllowSorting="true" Name="Categoria">
                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Order" Title="N." Width="40px" />
                                <RadzenDropDownDataGridColumn Property="Text" Title="Categoria" Width="200px" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="Categoria" Popup=false Text="Il campo Categoria è obbligatorio" />
                    </Helper>
                </RadzenFormField>           
                <RadzenFormField Text="Note" Variant="@variant">
                    <ChildContent>
                        <RadzenTextBox Name="Note" @bind-Value="@form.Note" />
                    </ChildContent>
                </RadzenFormField>
                @* Gestione della scelta delle risposte *@
                <RadzenFormField Text="Possibili Scelte <span style='color:red'> (obbligatorio)</span>" Variant="@variant">
                    <ChildContent>
                        <RadzenDropDownDataGrid @ref="choicesDropDown" Data="@choices" TextProperty="Tag" @bind-Value="@form.Choices"
                                Multiple="true" AllowFiltering="true" AllowColumnResize="true" AllowSorting="true">
                            <Columns>
                                <RadzenDropDownDataGridColumn Width="60px" Sortable="false">
                                    <Template Context="data">
                                        <RadzenCheckBox TriState="false" Value="@ChoiceCheckBoxValue(data)"
                                                        TValue="bool" Change=@(args => ChoiceCheckBoxChange(args, data)) @onclick:stopPropagation />
                                    </Template>
                                </RadzenDropDownDataGridColumn>
                                <RadzenDropDownDataGridColumn Property="Tag" Title="Tag" Width="60px" />
                                <RadzenDropDownDataGridColumn Property="Value" Title="Valore" Width="100px" />
                            </Columns>
                        </RadzenDropDownDataGrid>
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="Testo" Popup=false Text="Il campo scelte è obbligatorio" />
                    </Helper>
                </RadzenFormField>
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salva" class="buttonSalva" IsBusy=@onSaving
                              BusyText="Salvataggio in corso" />
            </RadzenStack>
        </RadzenTemplateForm>
    </div>
}

