@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@using Shared;
@using Shared.Templates
@using ConstructionSiteLibrary.Utility
@using ConstructionSiteLibrary.Model;
@using ConstructionSiteLibrary.Components.Generics;
@using Shared.Documents;

@inject ConstructorSitesRepository SiteRepository
@inject DialogService DialogService
@inject NotificationManager NotificationManager
@inject QuestionRepository QuestionRepository
@inject GlobalVariables GlobalVariables
@inject QuestionRepository QuestionRepository

<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="mx-2 my-5">
        <SectionTitle PageTitle="Domande" ButtonText="+ aggiungi domanda" SearchPlaceholder="Cerca domanda"
                      OnButtonClicked="@OpenForm" OnSearchChanged="@SearchChanged" />
        <div>
            <table class="table table-striped">
                <thead>
                    <th>
                        <span> Domanda</span>
                    </th>
                    <th>
                        <span class="">Id Categoria</span>
                    </th>
                </thead>
                <tbody>
                    @if (displayedQuestions.Count > 0)
                    {
                        @foreach (var question in displayedQuestions)
                        {
                            <tr>
                                <td>@question.Text</td>
                                <td>@question.IdCategory</td>
                                <td>
                                    <ButtonDropdown Object="@question" OnUpdateClicked="@OpenModifyQuestion"
                                                    OnDeleteClicked="@OpenDeleteQuestion" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">Nessuna domanda trovata</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="mt-5">
                <AxtPager PagingSummaryFormat="@pagingSummaryFormat" Count="@count" PageSize="@pageSize"
                          OnPageChanged="@PageChanged" />
            </div>
        </div>
    </div>
}


@code {
    ScreenComponent? screenComponent;

    private List<TemplateQuestionModel> questions = [];
    private List<TemplateQuestionModel> displayedQuestions = [];
    private bool onLoading = false;
    private string search = "";
    private string pagingSummaryFormat = "Pagina {0} di {1} (Totale {2} cantieri)";
    private int count = 0;
    private int pageSize = GlobalVariables.PageSize;
    private int pageIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();
        await LoadData();
        onLoading = false;
    }

    private async Task LoadData()
    {
        questions = await QuestionRepository.GetQuestions();
        FilterQuestions();
    }

    private void PageChanged(AxtPagerEventArgs args)
    {
        pageIndex = args.CurrentPage;
        FilterQuestions();
    }

    private void SearchChanged(string args)
    {
        search = args;
        FilterQuestions();
    }

    private void FilterQuestions()
    {
        displayedQuestions = questions;
        search = search.TrimStart().TrimEnd();
        if (!string.IsNullOrEmpty(search))
        {
            displayedQuestions = questions.Where(x => x.Text.Contains(search,
            StringComparison.InvariantCultureIgnoreCase)).ToList();
        }
        count = displayedQuestions.Count;
        SelectCurrentPage();
    }

    private void SelectCurrentPage()
    {
        var skip = pageIndex * pageSize;
        displayedQuestions = displayedQuestions.Skip(skip).Take(pageSize).ToList();
    }

    private async Task OpenForm()
    {
        var width = screenComponent.GetScreenSize();

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;max-width:600px";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
        {
            //tra i parametri che invio al dialog creo un EventCallback da passare al componente
            { "OnSaveComplete", EventCallback.Factory.Create(this, Reload) },
            { "CreationMode", true },
        };
        await DialogService.OpenAsync<FormQuestions>("Nuova domanda", parameters: param, options: newOptions);
    }

    private async Task Reload()
    {
        DialogService.Close();
        await LoadData();
        StateHasChanged();
    }

    private async Task OpenModifyQuestion(object question)
    {
        var q = question as TemplateQuestionModel;
        var width = screenComponent.GetScreenSize();

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;max-width:600px";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
        {
            //tra i parametri che invio al dialog creo un EventCallback da passare al componente
            { "OnSaveComplete", EventCallback.Factory.Create(this, Reload) },
            { "CreationMode", false },
            {"Question", q!}
        };
        await DialogService.OpenAsync<FormQuestions>("Nuova domanda", parameters: param, options: newOptions);
    }

    private async Task OpenDeleteQuestion(object question)
    {
        var q = question as TemplateQuestionModel;

        var titolo = "Disattivazione domanda";
        var text = "Vuoi disattivare la domanda: " + q.Text + "?";
        var confirmationResult = await DialogService.Confirm(text, titolo, new ConfirmOptions { OkButtonText = "Si", CancelButtonText = "No" });
        Console.WriteLine("cliccato: " + confirmationResult);
        if (confirmationResult == true)
        {
            var response = await QuestionRepository.HideQuestions([q]);
            //NotificationService.Notify(response);
            if (response)
            {
                await ReloadTable();
            }
        }
    }

    private async Task ReloadTable()
    {
        DialogService.Close();
        await LoadData();
    }
}