@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@using Shared;
@using Shared.Templates

@inject DialogService DialogService
@inject NotificationManager NotificationManager
@inject QuestionRepository QuestionRepository
@inject GlobalVariables GlobalVariables

<ScreenComponent @ref = "screenComponent"/>

@if (initialLoading)
{
    <Loading />
}
else
{



@*     @* La tabella delle questions 
    <div class="marginComponent">

        <RadzenFieldset Text="Domande" class="shadow rounded" Style="font-weight:400;">
            <RadzenButton Icon="add" Text="Nuovo" ButtonStyle="ButtonStyle.Success" class="ButtonAdd"
                          Style="margin-bottom:2rem;margin-top:1rem;" Click="@(()=>OpenNewForm())" />
            <RadzenDataGrid @ref="grid" TItem="TemplateQuestionModel" GridLines="@DataGridGridLines.Both" IsLoading=@isLoading Count="@count" PageSize="@pageSize" Data="@questions"
                            AllowColumnResize="true" AllowAlternatingRows="true" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Simple"
                            AllowSorting="true" AllowPaging="true" ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" PagerHorizontalAlign="HorizontalAlign.Left"
                            Density="Density.Compact">

                <Columns>
                    @*<RadzenDataGridColumn TItem="QuestionModel" Property="Id" Title="Id" Width="40px" />
                    <RadzenDataGridColumn TItem="TemplateQuestionModel" Property="Text" Title="Nome" />
                    <RadzenDataGridColumn TItem="TemplateQuestionModel" Property="IdCategory" Title="Categoria" Width="60px" />
                    <RadzenDataGridColumn TItem="TemplateQuestionModel" Title="Azioni" Width="60px" Sortable="false">
                        <Template Context="data">
                                Mostro i bottoni solo se ho i permessi di modifica 
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Variant="Variant.Filled" Size="ButtonSize.Large"
                                              Click="@(()=>OpenUpdateForm(data))"/>
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Filled" Size="ButtonSize.Large"
                                              Click="@(()=>Disable(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenFieldset>
    </div> *@


}