@using ConstructionSiteLibrary.Model
@inject DocumentsRepository DocumentRepository

@if (onLoading)
{
    <Loading/>
}else
{
    <div class="mx-2 my-5">
        <div class="my-5">
            <div class="vstack divSearchBar">
                <RadzenFormField Text="Ricerca cantiere" Variant="@GlobalVariables.ComponentVariant" class="searchBar">
                    <Start>
                        <RadzenIcon Icon="search" />
                    </Start>
                    <ChildContent>
                        <RadzenTextBox ValueChanged="@(args => SearchChanged(args))"/>
                    </ChildContent>
                </RadzenFormField>
            </div>
        </div>
        @foreach (var doc in displayedDocuments)
        {
            <div class="m-2">
                <CardDocument Document="@doc"/>
            </div>
        }
        <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Center" Count="count" PageSize="@pageSize" PageChanged="@PageChanged" />
    </div>
}