@using Shared.Documents
@using ConstructionSiteLibrary.Model.DocumentCompilation
@using Microsoft.JSInterop
@layout EmptyLayout

@inject DialogService DialogService
@inject DocumentsRepository DocumentsRepository
@inject IJSRuntime JS

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="document">
        <div id="printPDF" class="card shadow" style="max-width:1024px;padding:1rem;">
            @* INTRO DOCUMENTO *@
            <div class="pdfElement">
                <div class="row SectionTitleDiv">
                    <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" class="SectionTitle"><strong>@DocumentUtils.PrintDocumentField(Document.Title)</strong> </RadzenText>
                </div>
                <div class="border paddingSezione">
                    <div class="row my-2">
                        <RadzenText>@DocumentUtils.PrintDocumentField(Document?.Description)</RadzenText>
                    </div>
                </div>
                <div class="border paddingSezione">
                    <div class=" row my-2">
                        <div class="col-6">
                            <RadzenText>Il C.S.E.: <strong>@DocumentUtils.PrintDocumentField(Document?.CSE)</strong></RadzenText>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-8">
                                    <RadzenText>Data sopralluogo: <strong>@StampaData(Document?.CompilationDate)</strong></RadzenText>
                                </div>
                                <div class="col-4">
                                    <RadzenText>Ora: <strong>@StampaOra()</strong></RadzenText>
                                </div>
                            </div>
                        </div>
                    </div>
                    <RadzenRow class="my-2">
                        <RadzenText>Condizioni meteo: <strong>@StampaMeteo()</strong></RadzenText>
                    </RadzenRow>
                </div>
            </div>
            @* DATI CANTIERE *@
            <div class="pdfElement">
                <div class="row SectionTitleDiv">
                    <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" class="SectionTitle">
                        <strong>
                            @DocumentUtils.ConstructionSiteData
                        </strong>
                    </RadzenText>
                </div>
                <div class="border my-4 paddingSezione">
                    <div class="row my-2">
                        <div class="col">
                            <RadzenText>Committente: <strong>@DocumentUtils.PrintDocumentField("")</strong></RadzenText>
                        </div>
                        <div class="col">
                            <RadzenText>Lavori di: <strong>@DocumentUtils.PrintDocumentField(Document?.ConstructorSite.JobDescription)</strong></RadzenText>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <RadzenText>Indirizzo cantiere: <strong>@DocumentUtils.PrintDocumentField(Document?.ConstructorSite.Address)</strong></RadzenText>
                        </div>
                        <div class="col">
                            <RadzenText>Inizio lavori: <strong>@StampaData(Document?.ConstructorSite.StartDate)</strong></RadzenText>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <RadzenText>Notifica preliminare inizio cantiere del: <strong>@StampaData(Document?.ConstructorSite.PreliminaryNotificationStartDate)</strong></RadzenText>
                        </div>
                        <div class="col">
                            <RadzenText>Id. SICO: <strong>@DocumentUtils.PrintDocumentField(Document?.ConstructorSite.IdSico)</strong></RadzenText>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <RadzenText> Notifica preliminare in corso: <strong>@StampaData(Document?.ConstructorSite.PreliminaryNotificationInProgress)</strong></RadzenText>
                        </div>
                        <div class="col">
                            <RadzenText>Id. SICO: <strong>@DocumentUtils.PrintDocumentField(Document?.ConstructorSite.IdSicoInProgress)</strong></RadzenText>
                        </div>
                    </div>
                </div>

            </div>
            @if(Document?.Companies.Count > 0)
            {
                <div class="pdfElement">
                    <div class="row SectionTitleDiv">
                        <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">
                            <strong>
                                @DocumentUtils.Companies
                            </strong>
                        </RadzenText>
                    </div>
                </div>
                        @* COMPANY DOCUMENTO *@
                @foreach (var company in Document?.Companies)
                {
                    <div class="pdfElement">
                        <div class="border paddingSezione">
                            <div class=" row my-2 borderBottom">
                                <div class="col impresaEsecutriceCol1">
                                    <RadzenText>Impresa Esecutrice</RadzenText>
                                </div>
                                <div class="col impresaEsecutrice">
                                    <RadzenRow Style="align-items: center !important;">
                                        <RadzenLabel Text="Presente" />
                                        <div>
                                            @if(CheckCompanyPresent(company.Present))
                                            {
                                                <span class="material-icons" style="font-family: 'Material Icons'; font-size: 24px">&#xe834;</span>
                                            }
                                            else
                                            {
                                                <span class="material-icons" style="font-family: 'Material Icons'; font-size: 24px">&#xe835;</span>                           
                                            }
                                        </div>
                                    </RadzenRow>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <RadzenText>Ragione Sociale: <strong>@company.CompanyName</strong></RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenText>Sede legale: <strong>@company.Address</strong</RadzenText>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <RadzenText>Lavori previsti: <strong>@company.JobsDescriptions</strong</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenText>P. Iva: <strong>@DocumentUtils.PrintDocumentField(company.VatCode)</strong></RadzenText>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12">
                                    <RadzenText>Responsabile: <strong>@DocumentUtils.PrintDocumentField(company.InChargeWorker)</strong</RadzenText>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12">
                                    <RadzenText>Lavoratori: <strong>@DocumentUtils.PrintDocumentField(company.Workers)</strong></RadzenText>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @* DOMANDE DOCUMENTO *@
            @foreach (var category in Document.Categories)
            {
                <div class="pdfElement">
                    <div class="SectionTitleDiv">
                        <RadzenRow Style="justify-content:space-between !important;">
                            <RadzenColumn Size="1" Style="display:flex">
                                <RadzenText TextStyle="TextStyle.DisplayH6" Style="margin-left:1rem;margin-top:0.5rem;"><strong>@DocumentUtils.CategoryNumber(category)</strong></RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="10" Style="display:flex;justify-content: center;">
                                <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" Style="margin-left:1rem;margin-top:0.5rem;"><strong>@DocumentUtils.CategoryText(category)</strong></RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="1" Style="display:flex;justify-content:end;">
                            </RadzenColumn>
                        </RadzenRow>
                    </div>
                </div>
                @foreach (var question in category.Questions)
                {
                    <div class="pdfElement">
                        <div class="border paddingSezione">
                            <div class="margineDomande bordoDomanda">
                                <div class="hstack ">
                                    <RadzenText>@DocumentUtils.QuestionTextNumber(category, question.Text, question.Order)</RadzenText>
                                </div>
                                <ul>
                                @foreach (var answer in question.CurrentChoices)
                                {
                                    <li>
                                    <div class="hstack">
                                        <div>
                                            <RadzenText class="selectChoice"><strong>@DocumentUtils.PrintDocumentField(answer.Value)</strong></RadzenText>
                                        </div>
                                    </div>
                                    <div>
                                        <RadzenText TextStyle="TextStyle.Caption">@DocumentUtils.ReportedCompany(answer.ReportedCompanyIds, Document)</RadzenText>
                                    </div>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            @* NOTE AGGIUNTIVE DOMANDE *@
            @if(NoteList.Count > 0)
            {
                <div class="pdfElement">
                    <div class="row SectionTitleDiv">
                        <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">
                            <strong>
                                @DocumentUtils.QuestionNotes
                            </strong>
                        </RadzenText>
                    </div>
                </div>
                @foreach (var elem in NoteList)
                {
                    <div class="pdfElement paddingSezione">
                        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Start" Gap="0">
                            <RadzenColumn Size="1" class="rz-text-align-center paddingYResponsive">
                                <RadzenText TextStyle="TextStyle.H6">@elem.QuestionNumber</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn>
                                <div class="paddingYResponsive">
                                    <RadzenText Style="width:100%" Text="@elem.Note" />
                                </div>
                            </RadzenColumn>
                        </RadzenRow>
                    </div>
                }   
            }
            @* ALLEGATI ASSEGNATI ALLE DOMANDE *@
            @if(visualCategories.Count > 0)
            {
                <div class="pdfElement">
                    <div class="row SectionTitleDiv">
                        <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">
                            <strong>
                                @DocumentUtils.Attachment
                            </strong>
                        </RadzenText>
                    </div>
                </div>
                @foreach(var cat in visualCategories)
                {
                    foreach(var elem in cat.Category.Questions)
                    {
                        if(elem.Attachments.Count > 0)
                        {
                        <div class="pdfElement ">
                            <div class="paddingSezione">
                            <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Start" Gap="0">
                                <RadzenColumn Size="1" class="rz-text-align-center paddingYResponsive">
                                    <RadzenText TextStyle="TextStyle.H6">@DocumentUtils.QuestionNumber(cat.Category, elem.Order)</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn>
                                    <RadzenRow>
                                        @foreach (var attach in elem.Attachments)
                                        {
                                            <img src="@attach.Image" class="attachmentImg"/>
                                        }
                                    </RadzenRow>
                                 </RadzenColumn>
                            </RadzenRow>
                            </div>
                        </div>     
                        } 
                    }  
                }
            }

            @* NOTE AGGIUNTIVE DOCUMENTO *@
            @if(Document.Notes.Count > 0)
            {
                <div class="pdfElement">
                    <div class="row SectionTitleDiv">
                        <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">
                            <strong>
                                @DocumentUtils.DocumentNotes
                            </strong>
                        </RadzenText>
                    </div>
                </div>
                @foreach (var elem in Document.Notes)
                {
                    <div class="pdfElement paddingSezione">
                        <RadzenText Style="width:100%" Text="@elem.Text" />
                        <RadzenText TextStyle="TextStyle.Caption" class="mt-2">@DocumentUtils.ReportedCompany(elem.CompanyListIds,Document)</RadzenText>
                    </div>
                }                  
            }

            @* FIRME *@
            <div class="pdfElement">
                <div class="row SectionTitleDiv">
                        <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">
                            <strong>
                                @DocumentUtils.DocumentSignatures
                            </strong>
                        </RadzenText>
                </div>
                <div class="paddingDescrizione marginYResponsive border">
                    <RadzenText Style="text-decoration:underline">Le firme di presa visione e accettazione di seguito fanno riferimento alle prescrizioni riportate nel verbale, riferite all'impresa di appartenenza e relativi subappaltatori.</RadzenText>
                </div>
                <div class="hstack">
                    <RadzenText Style="margin-right: 8px; vertical-align: middle;">Data: <strong>@StampaData(Document.SignDate)</strong></RadzenText>
                </div>
            </div>
            <div class="pdfElement">
                <div class="row">
                    <div class="col-6">
                        <div style="margin-bottom:2rem;">
                        </div>
                        <div class="paddingDescrizione border my-2">
                            <RadzenText>Il C.S.E: <strong>@Document.CSE</strong></RadzenText>
                            @if (Document.CseSignature is not null)
                            {
                                <div class="col-12 p-2">
                                    <img src="@Document.CseSignature.Sign" width="@Document.CseSignature.Width" height="@Document.CseSignature.Height" style="max-width:100%; height:100%" />
                                </div>
                            }
                            else
                            {
                                <div style="height:60px"></div>
                            }
                            <div class="borderBottom w-100"></div>
                        </div>
                    </div>
                     <div class="col-6">
                        <div class="mb-1">
                            <RadzenText Style="text-decoration:underline">Per presa visione e accettazione</RadzenText>
                        </div>
                        @if(Document.Signatures.Count > 0)
                        {
                            <div class="paddingDescrizione border my-2">
                                <RadzenText>Per: <strong>@DocumentUtils.PrintCompanyFromSignature(Document.Signatures[0], Document)</strong></RadzenText>
                                @if (!string.IsNullOrEmpty(firstCompanySignature.Sign))
                                {
                                <div class=" col-12 mb-2">
                                    <RadzenText> Nome: <strong>@firstCompanySignature.Name</strong></RadzenText>
                                </div>
                                    <div class="col-12 p-2">
                                        <img src="@Document.Signatures[0].Sign" width="@Document.Signatures[0].Width" height="@Document.Signatures[0].Height" style="max-width:100%; height:100%" />
                                    </div>
                                }
                                else
                                {
                                    <div style="height:60px"></div>
                                }
                                <div class="borderBottom w-100"></div>
                                <div class="hstack mt-2">
                                    <RadzenText TextStyle="TextStyle.Caption" class="mb-0">Quesiti contestati:</RadzenText>
                                    @foreach (var questionId in Document.Signatures[0].ReporteQuestionsIds)
                                    {
                                        <RadzenText TextStyle="TextStyle.Caption" class="mb-0">@DocumentUtils.PrintQuestionForReported(questionId, Document)</RadzenText>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @* Visualizzo le firme rimanenti *@
            @foreach(var sign in OthercompanySignatures)
            {
                <div class="pdfElement">
                <div class="row">
                    <div class="col-6">
                    </div>
                     <div class="col-6">
                            <div class="paddingDescrizione border my-2">
                                <RadzenText>Per: <strong>@DocumentUtils.PrintCompanyFromSignature(sign, Document)</strong></RadzenText>
                                @if (!string.IsNullOrEmpty(sign.Sign))
                                {
                                    <div class=" col-12 mb-2">
                                        <RadzenText> Nome: <strong>@sign.Name</strong></RadzenText>
                                    </div>
                                    <div class="col-12 p-2 ">
                                        <img src="@sign.Sign" width="@sign.Width" height="@sign.Height" style="max-width:100%; height:100%" />
                                    </div>
                                }
                                else
                                {
                                    <div style="height:60px"></div>
                                }
                                <div class="borderBottom w-100"></div>
                                <div class="hstack mt-2">
                                    <RadzenText TextStyle="TextStyle.Caption" class="mb-0">Quesiti contestati:</RadzenText>
                                    @foreach (var questionId in sign.ReporteQuestionsIds)
                                    {
                                        <RadzenText TextStyle="TextStyle.Caption" class="mb-0">@DocumentUtils.PrintQuestionForReported(questionId, Document)</RadzenText>
                                    }
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="m-4 d-flex justify-content-center">
        <RadzenButton Icon="print" Text="Stampa" Click="StampaDocumento" class="buttonPrint" IsBusy="@creation"/>
    </div>
    <div class="mt-3"></div>
}

@code {

    [Parameter]
    public EventCallback OnPrintComplete { get; set; }
    [Parameter]
    public DocumentModel? Document { get; set; }

    private List<VisualCategory> visualCategories { get; set; } = [];
    private List<QuestionNote> NoteList { get; set; } = [];
    private List<SignatureModel> OthercompanySignatures { get; set; } = [];
    private SignatureModel? firstCompanySignature;
    private bool onLoading = false;
    private IJSObjectReference? jsModule;
    private bool creation = false;


    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        LoadData();

    }

    private void LoadData()
    {
        if(Document is not null)
        {
            visualCategories = DocumentUtils.CreateVisualCategories(Document.Categories);
            LoadQuestionNotes();
            if(Document.Signatures.Count > 0)
            {
                firstCompanySignature = Document.Signatures.FirstOrDefault();
                for(int i = 1; i < Document.Signatures.Count; i++)
                {
                    OthercompanySignatures.Add(Document.Signatures[i]);
                }
            }
            onLoading = false;           
        }
    }


    private void LoadQuestionNotes()
    {
        NoteList = [];

        ///Da caricare per ogni question
        if (Document is not null)
        {
            foreach (var cat in Document.Categories)
            {
                foreach (var question in cat.Questions)
                {
                    if (!string.IsNullOrEmpty(question.Note.Trim()))
                    {
                        var qNote = new QuestionNote()
                        {
                                QuestionNumber = cat.Order.ToString() + "." + question.Order.ToString(),
                                Note = question.Note
                        };
                        NoteList.Add(qNote);
                    }
                }
            }
        }
    }

    private async Task StampaDocumento()
    {
        creation = true;
        try
        {
            var fileName = "documento-" + Document.Title + ".pdf";
            if (jsModule is null)
            {
                jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/ConstructionSiteLibrary/pdfManager.js");
            }

            String documentString = Document.Title;
            String compilatorString = Document.CSE ?? "";
            String committenteString = Document.Client.Name ?? "";
            String indirizzoCantiereString = Document.ConstructorSite.Address ?? "";


            // Generate and download the PDF
            await jsModule.InvokeVoidAsync("generaPDFDocumento", fileName, DotNetObjectReference.Create(this), documentString, compilatorString, committenteString, indirizzoCantiereString);
        }
        catch (Exception e)
        {
            Console.WriteLine("errore: " + e.Message);
            creation = false;
        }
    }

    [JSInvokable]
    public void DocumentCreated()
    {
        creation = false;
        //DialogService.Close(true);
    }

    private bool CheckCompanyPresent(bool? value)
    {
        return value.HasValue ? value.Value : false;
    }

    #region Visualizzazione

    public string StampaMeteo()
    {
        return Document.MeteoCondition is not null ? Document.MeteoCondition.Description : "";
    }

    public string StampaData(DateTime? data)
    {
        return data.HasValue ? data.Value.ToString("dd/MM/yyyy") : "";
    }

    public string StampaOra()
    {
        return Document.CompilationDate.HasValue ? Document.CompilationDate.Value.ToString("HH:mm") : "";
    }


    #endregion

}
