@using ConstructionSiteLibrary.Model
@using ConstructionSiteLibrary.Utility

@inject DocumentsRepository DocumentsRepository
@inject ConstructorSitesRepository ConstructorSitesRepository
@inject DialogService DialogService
@inject NavigationService NavigationService


<ScreenComponent @ref="screenComponent" OnMainSizeChanged="MainSizeChanged" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="hstack siteTitle">
        <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH4" Text="@site.Name" />
        <div>
            <RadzenIcon Icon="settings" IconStyle="IconStyle.Primary" class="settingIcon" onclick="@(()=>OnSettingsClick())" />
        </div>
    </div>
    <div class="row" style="justify-content:space-between">
        <RadzenButton Icon="arrow_back" Text="Indietro" Click="@Back" class="buttonBack" />
        <RadzenButton class="buttonNewDocument" Icon="add" Text="Nuovo" Click="@CreaNuovo" ButtonStyle="ButtonStyle.Success" />
    </div>
    <div class="mx-2 my-5">
        <div class="my-5">
            <div class="row" style="justify-content:center">
                <div class="divSearchBar">
                    <RadzenFormField Text="Ricerca documento" Variant="@GlobalVariables.ComponentVariant" class="searchBar">
                        <Start>
                            <RadzenIcon Icon="search" />
                        </Start>
                        <ChildContent>
                            <RadzenTextBox ValueChanged="@(args => SearchChanged(args))" />
                        </ChildContent>
                    </RadzenFormField>
                </div>
            </div>
        </div>
        <div class="divDocumentList">
            @for (int i = 0; i < documents.Count; i += documentColumn)
            {
                <div class="row mt-4">
                    @for (int j = 0; j < documentColumn; j++)
                    {
                        <div class="col documentColumn">
                            @if ((i + j) < documents.Count)
                            {
                                <CardDocument Document=@documents[i+j]/>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="mt-5">
            <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Left" Count="count" PageSize="@pageSize" PageChanged="@PageChanged" />
        </div>
    </div>
}