@using Shared.Documents
@using Microsoft.JSInterop

@inject DialogService DialogService
@inject DocumentsRepository DocumentsRepository
@inject IJSRuntime JS

<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="card shadow DocumentCard">
        <ReportConstructorSiteDataSection Document="@document" />
        <CompaniesPresentSection Companies="@document.Companies" />
        <QuestionsSection Categories="document.Categories" Companies="document.Companies" OnStateChangeNotification="@UpdateDocument" />
        <AttachmentsSection Categories="@document.Categories" /> 
        <QuestionNotesSection Document="@document" />
        <DocumentNoteSection Document="@document" />
        <CompaniesSignsSection Document="@document" />
       
    </div>
    <div class="d-flex justify-content-center">
        <RadzenButton Text="Stampa" Click="StampaDocumento" Style="width:300px;height:40px;"/>
        <RadzenButton Text="Salva" Click="SalvaDocumento" Style="width: 300xp;height:40px;" IsBusy="@onSaving"/>
    </div>
}

@code {
    [Parameter]
    public int DocumentId { get; set; }
    private DocumentModel document = new();
    private bool onLoading = false;

    private bool onSaving = false;

    ScreenComponent screenComponent;

    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();
        await LoadData();
        onLoading = false;
    }
    private async Task LoadData()
    {
        document = await DocumentsRepository.GetDocumentById(DocumentId);
    }

    private void UpdateDocument()
    {
        StateHasChanged();
    }

    private async Task StampaDocumento()
    {
        var width = screenComponent.GetScreenSize().Width;

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
            {
                //tra i parametri che invio al dialog creo un EventCallback da passare al componente
                { "OnPrintComplete", EventCallback.Factory.Create(this, PrintComplete) },
                { "Document", document },
            };
        await DialogService.OpenAsync<DocumentViewer>("", parameters: param, options: newOptions);
    }

    private async Task SalvaDocumento()
    {
        onSaving = true;
        await DocumentsRepository.UpdateDocuments([document]);
        onSaving = false;
    }


    private void PrintComplete()
    {
        DialogService.Close();
    }

}
