@using ConstructionSiteLibrary.Interfaces
@using Shared.Documents
@using ConstructionSiteLibrary.Model.DocumentCompilation
@using Microsoft.AspNetCore.Components.Forms

@inject DialogService DialogService
@inject ICameraService CameraService

<ScreenComponent @ref="screenComponent" />

@* Questionario *@
<div class="mt-3" id="provaAncora">
    <fieldset class="my-fieldset">
        <legend class="my-legend">Domande</legend>
        <div class="accordion" id="accordionDomande">
            @foreach (var visual in visualCategories)
            {
                <a class="anchor" id="@CreateAnchor(visual)"></a>
                <div class="accordion-item" >
                    <h2 class="mb-0">
                        <button class="accordion-button titleCategory" type="button" data-bs-toggle="collapse" data-bs-target="@ReturnCollapseTarget(visualCategories.IndexOf(visual), true)" aria-expanded="false" aria-controls="@ReturnCollapseTarget(visualCategories.IndexOf(visual))">
                            @DocumentUtils.CategoryText(visual.Category)
                        </button>
                    </h2>
                    <div id="@ReturnCollapseTarget(visualCategories.IndexOf(visual))" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            @if (visual.ShowQuestion)
                            {
                                @foreach (var question in visual.Category.Questions)
                                {
                                    <div class="row mt-3 border-bottom">
                                        <div class="col bor">
                                            <p><strong>@DocumentUtils.QuestionNumber(visual.Category, question.Order)</strong> @DocumentUtils.QuestionText(visual.Category, question.Text)</p>
                                        </div>
                                        <div class="col-md-auto">
                                            @foreach (var answer in question.CurrentChoices)
                                            {
                                                <div class="hstack">
                                                    <div>
                                                        <RadzenDropDown Value="@answer" Data=@question.Choices TValue="DocumentChoiceModel"
                                                                        TextProperty="Value" class="inputBorder"
                                                            Change="@(args => SelectedAnswer(args, question, question.CurrentChoices.IndexOf(answer)))" />
                                                    </div>
                                                    @if (ShowDeleteChoiceButton(answer, question))
                                                    {
                                                        <div>
                                                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Text"
                                                                class="buttonChoice" Click="@(()=>RemoveAnswer(question, answer))" />
                                                        </div>
                                                    }
                                                    @if (ShowAddChoiceButton(answer, question))
                                                    {
                                                        <div>
                                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Text"
                                                                class="buttonChoice" Click="@(()=>AddAnswer(question))" />
                                                        </div>
                                                    }
                                                </div>
                                                <div>
                                                    <RadzenText TextStyle="TextStyle.Body1" onclick="@{()=>OpenCompanyListDialog(answer) }">
                                                        @ReportedCompany(answer)</RadzenText>
                                                </div>
                                            }
                                            <div>
                                                <RadzenButton Text="Aggiungi note" Variant="Variant.Text" Click="@(()=>OpenNoteDialog(question))"
                                                    Style="width: 170px;" />
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <RadzenSplitButton Click=@(args => SelectAttachSource(args, question)) Icon="photo_camera"
                                                               class="buttonPhoto">
                                                <ChildContent>
                                                    <RadzenSplitButtonItem Text="Fotocamera" Value="1" Icon="photo_camera" />
                                                    <RadzenSplitButtonItem Text="Documenti" Value="2" Icon="folder" />
                                                </ChildContent>
                                            </RadzenSplitButton>
                                            <InputFile OnChange="@(args => LoadFile(args, question))" style="display: none;" id="pictureLoader" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</div>

@code {

    [Parameter]
    public EventCallback OnAnchorAdd { get; set; }
    [Parameter]
    public List<DocumentCategoryModel> Categories { get; set; } = [];
    [Parameter]
    public List<CompanyModel> Companies { get; set; } = [];
    [Parameter]
    public EventCallback OnStateChangeNotification { get; set; }
    [Parameter]
    public DocumentNavigator DocumentNavigator { get; set; } = new();

    private List<VisualCategory> visualCategories { get; set; } = [];

    ScreenComponent? screenComponent;



    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        CreateVisualCategories();
    }

    private async Task StateChangeNotification()
    {
        await OnStateChangeNotification!.InvokeAsync();
    }

    private async Task SelectAttachSource(RadzenSplitButtonItem item, DocumentQuestionModel question)
    {
        if (item is null)
        {
            await TakePicture(question);
        }
        else
        {
            if (item.Value.Equals("1"))
            {
                await TakePicture(question);
            }
            else
            {
                await CameraService.OpenDocuments();
            }
        }
    }

    private async Task LoadFile(InputFileChangeEventArgs e, DocumentQuestionModel question)
    {
        var readStream = e.File.OpenReadStream(2048000);

        var buffer = new byte[e.File.Size];

        await readStream.ReadAsync(buffer, 0, buffer.Length);

        var base64Image = Convert.ToBase64String(buffer);

        var img = "data:image/jpeg;charset=utf-8;base64," + base64Image;

        question.Attachments.Add(new AttachmentModel()
                {
                    Name = "",
                    Date = DateTime.Now,
                    Image = img,
                });

        await StateChangeNotification();
    }

    private async Task TakePicture(DocumentQuestionModel question)
    {

        var img = await CameraService.OpenCamera();

        if (!string.IsNullOrEmpty(img))
        {
            question.Attachments.Add(new AttachmentModel()
                {
                    Name = "",
                    Date = DateTime.Now,
                    Image = img,
                });
        }

        await StateChangeNotification();
    }


    private void CreateVisualCategories()
    {
        if (Categories is not null)
        {
            visualCategories = [];
            foreach (var cat in Categories)
            {
                visualCategories.Add(new() { Category = cat });

                foreach (var question in cat.Questions)
                {
                    InitCurrentChoicesList(question);
                }
            }
        }
    }

    private string ReturnCollapseTarget(int index, bool aggiungiCancelletto = false)
    {
        string valore = (aggiungiCancelletto ? "#" : "") + "collapse" + index.ToString();
        return valore;
    }

    #region GestioneRisposte

    private void InitCurrentChoicesList(DocumentQuestionModel question)
    {
        if (question.CurrentChoices.Count == 0)
        {
            AddAnswer(question);
        }
    }

    private void AddAnswer(DocumentQuestionModel question)
    {
        var index = question.CurrentChoices.Count;
        question.CurrentChoices.Add(new() { ChoiceIndex = index });
    }

    private void RemoveAnswer(DocumentQuestionModel question, DocumentChoiceModel choice)
    {
        question.CurrentChoices.Remove(choice);
        StateHasChanged();
    }

    private string ReportedCompany(DocumentChoiceModel choice)
    {
        var message = "";
        foreach (var companyId in choice.ReportedCompanyIds)
        {
            var companyName = Companies.Where(x => x.Id == companyId).Select(x => x.CompanyName).FirstOrDefault() ?? "";
            message += $"{companyName}, ";
        }

        if (message.EndsWith(", "))
        {
            //rimuovo l'ultima virgola
            message = message.Remove(message.Length - 2);
        }

        return message;
    }

    private async Task SelectedAnswer(object args, DocumentQuestionModel question, int index)
    {
        Console.WriteLine("Change event");
        var cTemp = args as DocumentChoiceModel;
        if (cTemp is not null)
        {
            cTemp.ChoiceIndex = index;
            var answer = cTemp.Clone();
            question.CurrentChoices[index] = answer;

            if (question.CurrentChoices[index].Reportable)
            {
                await OpenCompanyListDialog(question.CurrentChoices[index]);
            }
            StateHasChanged();
        }
    }

    #endregion

    #region Gestione Dialog

    private async Task OpenNoteDialog(DocumentQuestionModel question)
    {
        var width = screenComponent.GetScreenSize();

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;max-width:600px";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
            {
                //tra i parametri che invio al dialog creo un EventCallback da passare al componente
                { "OnQuestionNoteChanged", EventCallback.Factory.Create(this, QuestionNotesChanged) },
                { "Question", question},
            };
        await DialogService.OpenAsync<FormQuestionNote>("Scrivi note", parameters: param, options: newOptions);
    }

    private async Task OpenCompanyListDialog(DocumentChoiceModel choice)
    {
        var width = screenComponent.GetScreenSize();

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;max-width:600px";
        var newOptions = new DialogOptions
            { Style = additionalStyle };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
            {
                //tra i parametri che invio al dialog creo un EventCallback da passare al componente
                { "OnCompaniesSelected", EventCallback.Factory.Create(this, SelectedCompanies) },
                { "Choice", choice },
                { "Companies", Companies },
            };
        await DialogService.OpenAsync<FormSelectCompany>("Seleziona aziende", parameters: param, options: newOptions);
    }

    private async Task SelectedCompanies()
    {
        DialogService.Close();
        await StateChangeNotification();
    }

    private async Task QuestionNotesChanged()
    {
        DialogService.Close();
        await StateChangeNotification();
    }

    #endregion

    #region Visualizzazione

    private bool ShowAddChoiceButton(DocumentChoiceModel answer, DocumentQuestionModel question)
    {
        return question.CurrentChoices.IndexOf(answer) == question.CurrentChoices.Count - 1;
    }

    private bool ShowDeleteChoiceButton(DocumentChoiceModel answer, DocumentQuestionModel question)
    {
        return question.CurrentChoices.IndexOf(answer) != 0;
    }

    #endregion

    #region Gestione Ancore

    private string CreateAnchor(VisualCategory cat)
    {
        var categoryName = $"{cat.Category.Order}. {cat.Category.Text}";
        var index = cat.Category.Order;
        var anchor = new DocumentAnchor(DocumentUtils.TypeQuestions, index, $"Cat: {categoryName}", $"category_{index}");
        DocumentNavigator.AddAnchor(anchor);
        return anchor.Anchor;
    }

    #endregion

}
