@using Shared.Documents
@using ConstructionSiteLibrary.Model.DocumentCompilation

@inject DialogService DialogService

@if(NoteList.Count > 0)
{
    @* NOTE AGGIUNTIVE *@
    <div class="mt-3">
        <div class="marginYResponsive2 ">
            <fieldset class="my-fieldset">
                <legend class="my-legend">@DocumentUtils.QuestionNotes</legend>
                <div class="marginYResponsive">
                    @foreach (var elem in NoteList)
                    {
                        <a class="anchor" id="@CreateAnchor(NotePointList[NoteList.IndexOf(elem)],NoteList.IndexOf(elem))"></a>
                        <RadzenRow JustifyContent="@justifyContent" AlignItems="@alignItems" Gap="0">
                            <RadzenColumn Size="1" class="rz-text-align-center paddingYResponsive">
                                <RadzenText TextStyle="TextStyle.H6">@NotePointList[NoteList.IndexOf(elem)]</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn>
                                <div class="paddingYResponsive">
                                    <RadzenTextArea Rows="3" Style="width:100%" Value="@elem" class="my-input" />
                                    <div>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Text="elimina"
                                                      Variant="Variant.Text" Click="@(() => DeleteQuestionNote(NoteList.IndexOf(elem)))" />
                                    </div>
                                </div>
                            </RadzenColumn>
                        </RadzenRow>
                    }
                </div>
            </fieldset>
        </div>
    </div>
}



@code {
    AlignItems alignItems = AlignItems.Start;
    JustifyContent justifyContent = JustifyContent.Center;

    [Parameter]
    public EventCallback OnAnchorAdd { get; set; }
    [Parameter]
    public EventCallback OnQuestionNoteChanged { get; set; }
    [Parameter]
    public DocumentNavigator DocumentNavigator { get; set; } = new();
    [Parameter]
    public DocumentModel Document { get; set; } = new();

    private List<string> NoteList { get; set; } = [];
    private List<string> NotePointList { get; set; } = [];
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        LoadData();
    }

    private void LoadData()
    {
        NoteList = [];
        NotePointList = [];

        ///Da caricare per ogni question
        if (Document is not null)
        {
            foreach (var cat in Document.Categories)
            {
                foreach (var question in cat.Questions)
                {
                    if (!string.IsNullOrEmpty(question.Note.Trim()))
                    {
                        NoteList.Add(question.Note);
                        NotePointList.Add(cat.Order.ToString() + "." + question.Order.ToString());
                    }
                }
            }
        }
    }


    #region Gestione Ancore

    private string CreateAnchor(string cat, int index)
    {
        var anchor = new DocumentAnchor(DocumentUtils.TypeQuestionNotes, index, $"Note cat: {cat}", $"categorynotes_{index}");
        DocumentNavigator.AddAnchor(anchor);
        return anchor.Anchor;
    }

    private async Task DeleteQuestionNote(int index)
    {
        var result = await DialogService.Confirm("Sei sicuro di voler eliminare la nota?", "Conferma eliminazione nota") ?? false;
        if(result)
        {
            SelectQuestionFromNotePoint(NotePointList[index]);
            NoteList.RemoveAt(index);
            NotePointList.RemoveAt(index);
            StateHasChanged();
        }
    }

    private void SelectQuestionFromNotePoint(string notePoint)
    {
        try
        {
            var array = notePoint.Split(".");
            if(array.Length == 2)
            {
                var catOrder = int.Parse(array[0]);
                var qOrder = int.Parse(array[1]);
                var question = Document.Categories.Where(c => c.Order == catOrder).First()
                                   .Questions.Where(q => q.Order == qOrder).First();
                question.Note = string.Empty;
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Errore in QuestionNotesSection: {ex.Message}");
        }
    }

    #endregion
}