@using Shared.Documents;
@using ConstructionSiteLibrary.Model.DocumentCompilation;
@using Radzen.Blazor;

@inject DocumentsRepository DocumentsRepository;
@inject ClientsRepository ClientsRepository;

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="">
        <div class="vstackd ocumentSection">
            @* INTRO DOCUMENTO *@
            <div class=" my-4">
                <div class="row SectionTitleDiv">
                    <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" class="SectionTitle">
                        <strong>@Document.Title</strong>
                    </RadzenText>
                </div>
                <div class="my-4 paddingSezione">
                    <div class="row my-2">
                        <RadzenTextArea @bind-Value="@Document.Description" class="w-100" Style="height:fit-content;" />
                    </div>
                </div>
                <div class="border my-4 paddingSezione">
                    <div class=" row my-2">
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Il CSE:</RadzenText>
                            <RadzenTextBox Placeholder="Inserisci Nome Cognome" class="w-100" @bind-Value=@Document.CSE />
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-12 col-md-6 my-2">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="margin-right: 8px; vertical-align: middle;">
                                        Data sopralluogo:
                                    </RadzenText>
                                    <RadzenDatePicker @bind-Value=@compilationDate DateFormat="dd/MM/yyyy"
                                                      Name="RadzenDatePickerBindValue" ShowCalendarWeek class="w-100"
                                    Change="@(args=> CompilationDateChanged(args))">
                                        <FooterTemplate>
                                            <RadzenButton Click=@(args =>compilationDate = DateTime.Now) Text="Oggi" class="my-3 w-100" />
                                        </FooterTemplate>
                                    </RadzenDatePicker>
                                </div>
                                <div class="col-12 col-md-6 my-2">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Style="margin-right: 8px; vertical-align: middle;">
                                        Ora:
                                    </RadzenText>
                                    <RadzenDatePicker @bind-Value=@compilationHour ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Name="DatePickerTimeOnly"
                                                      Change="@(args=> CompilationHoursChanged(args))" class="w-100">
                                        <FooterTemplate>
                                            <RadzenButton Click=@(args => compilationHour = DateTime.Now) Text="Adesso" class="my-3 w-100" />
                                        </FooterTemplate>
                                    </RadzenDatePicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <RadzenRow class="my-2">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Condizioni meteo: </RadzenText>
                        <RadzenRadioButtonList Data="@meteoConditions" TValue="MeteoConditionModel" Orientation="@meteoButtonsOrientation"
                                               Value="@Document.MeteoCondition" TextProperty="Description" />
                    </RadzenRow>
                </div>
            </div>
            @* DATI CANTIERE *@
            <div class="my-4 ">
                <div class="row SectionTitleDiv">
                    <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" class="SectionTitle">
                        <strong>
                            @DocumentCompilationUtils.ConstructionSiteData
                        </strong>
                    </RadzenText>
                </div>
                <div class="border my-4 paddingSezione">
                    <div class="row my-2">
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Committente: </RadzenText>
                            <RadzenDropDown @bind-Value="@Document.Client" Data="@ClientsList" TValue="ClientModel" TextProperty="Name" class="w-100" />
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text="Inizio lavori: " Style="margin-right: 8px; vertical-align: middle;" />
                            <RadzenDatePicker @bind-Value=@Document.ConstructorSite.StartDate ShowTime="true" DateFormat="dd/MM/yyyy h:mm" Name="InizioLavori" class="w-100">
                                <FooterTemplate>
                                    <RadzenButton Click=@(args =>
                                              Document.ConstructorSite.StartDate = DateTime.Now) Text="Ora"
                                                  class="my-3 w-100" />
                                </FooterTemplate>
                            </RadzenDatePicker>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Indirizzo cantiere: </RadzenText>
                            <RadzenTextArea Placeholder="Inserisci l'indirizzo del cantiere"
                                            class="w-100" @bind-Value=@Document.ConstructorSite.Address />
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Lavori di: </RadzenText>
                            <RadzenTextArea Placeholder="Inserisci il motivo dei lavori" class="w-100" @bind-Value=@Document.ConstructorSite.JobDescription />
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Notifica preliminare inizio cantiere: </RadzenText>
                            <RadzenDatePicker  ShowTime=false DateFormat="dd/MM/yyyy" class="w-100" @bind-Value=@Document.ConstructorSite.PreliminaryNotificationStartDate />
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Id. SICO: </RadzenText>
                            <RadzenTextBox Placeholder="Inserisci Id. SICO"
                                            class="w-100" @bind-Value=@Document.ConstructorSite.IdSico />
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Notifica preliminare in corso: </RadzenText>
                            <RadzenDatePicker  ShowTime=false DateFormat="dd/MM/yyyy" class="w-100" @bind-Value=@Document.ConstructorSite.PreliminaryNotificationInProgress />
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Id. SICO: </RadzenText>
                            <RadzenTextBox Placeholder="Inserisci Id. SICO"
                                            class="w-100" @bind-Value=@Document.ConstructorSite.IdSicoInProgress />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public DocumentModel Document { get; set; } = new();

    private List<ClientModel> ClientsList = [];
    private List<MeteoConditionModel> meteoConditions = [];
    private Orientation meteoButtonsOrientation = Orientation.Horizontal;
    private bool onLoading = false;

    //VERBALE DI COORDINAMENTO IN CANTIERE
    DateTime? compilationDate;
    DateTime? compilationHour;

    void OnChange(string value, string name)
    {
        Console.Write($"{name} value changed to {value}");
    }

    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();
        await LoadData();
        GetData();
        GetHour();
        onLoading = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    private async Task LoadData()
    {
        meteoConditions = await DocumentsRepository.GetMeteoConditions();
        ClientsList = await ClientsRepository.GetClients();
    }


    #region Eventi per catturare i dati dalla form

    private void CompilationDateChanged(DateTime? date)
    {
        compilationDate = date;
        MargeDate();
    }

    private void CompilationHoursChanged(DateTime? hour)
    {
        compilationHour = hour;
        MargeDate();
    }

    private void MargeDate()
    {
        DateTime? newDate = null;
        if (compilationDate is not null)
        {
            newDate = new(compilationDate.Value.Year, compilationDate.Value.Month, compilationDate.Value.Day);
            if (compilationHour.HasValue)
            {
                newDate.Value.AddHours(compilationHour.Value.Hour);
                newDate.Value.AddMinutes(compilationHour.Value.Minute);
            }
        }
        Document.CompilationDate = newDate;
        StateHasChanged();
    }

    #endregion

    #region Visualizzazione

    public void GetData()
    {
        compilationDate = Document.CompilationDate.HasValue ? Document.CompilationDate : DateTime.Now;
    }

    public void GetHour()
    {
        compilationHour = Document.CompilationDate.HasValue ? Document.CompilationDate : DateTime.Now;
    }

    #endregion
}