@using Shared.Templates
@using ConstructionSiteLibrary.Model.DocumentWizard
@using ConstructionSiteLibrary.Model
@inject TemplatesRepository TemplateRepository


<div>
    @if (onloading)
    {
        <Loading />
    }
    else
    {
        <RadzenTemplateForm TItem="TemplateModel" Data="@SelectedTemplate" Submit="@Forward">
            <div class="card shadow mb-3 divCard">
                <RadzenText TextStyle="TextStyle.Body1" class="mb-2">
                    Seleziona il template da cui partire per la creazione del nuovo documento
                </RadzenText>
                <RadzenFormField Text="Scelta template <span style='color:red'> (obbligatorio)</span>"
                    Variant="@GlobalVariables.ComponentVariant" class="selectTemplate">
                    <ChildContent>
                        <RadzenDropDown TValue="TemplateModel" Name="TemplateChoice" @bind-Value="@SelectedTemplate"
                            Data="@templates" Change="@OnTemplateSelected" TextProperty="NameTemplate" AllowClear="true" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="TemplateChoice" Popup=false
                            Text="La scelta di un template è obbligatoria" />
                    </Helper>
                </RadzenFormField>

                <RadzenFieldset Text="Riepilogo" class="selezioneDomande mt-3">
                    @foreach (var g in groups)
                    {
                        <div class="m-2 p-2 pt-3">
                            <RadzenRow class="bordoInferiore" Style="justify-content:space-between !important;">
                                <RadzenColumn Size="11" Style="display:flex">

                                    <RadzenText TextStyle="TextStyle.DisplayH6" Style="margin-left:1rem;">
                                        <strong>@CategoryText(g)</strong>
                                    </RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="1" Style="display:flex;justify-content:end;">
                                    <RadzenButton Icon="@AccordionIcon(g)" Variant="Variant.Text"
                                        Click="@(()=>ShowQuestions(g))" />
                                </RadzenColumn>
                            </RadzenRow>
                        </div>
                        @if (g.ShowQuestion)
                        {
                            <div style="margin-bottom:2rem;">
                                <SortableList Id="sortable" GroupNumber="@g.Id" Items="@g.Questions" OnGroupUpdate="@OrderList"
                                    Context="item">
                                    <SortableItemTemplate>
                                        <div class="card shadow margineQuestionario p-2 pt-3 bordoDomanda">
                                            <RadzenRow Style="flex-wrap:nowrap !important">
                                                <RadzenText>@QuestionText(g, item.Text, item.Order)</RadzenText>
                                            </RadzenRow>
                                        </div>
                                    </SortableItemTemplate>
                                </SortableList>
                            </div>
                        }
                    }
                </RadzenFieldset>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col divForward">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="arrow_forward" Text="Avanti" class="buttonForward" />
                </div>
            </div>
        </RadzenTemplateForm>
    }
</div>



@code {
    [Parameter]
    public EventCallback<DocumentStepArgs> OnForward { get; set; }
    [Parameter]
    public TemplateModel? SelectedTemplate { get; set; }

    private List<TemplateModel> templates = [];

    private List<CategoryQuestionsGroup> groups = [];

    private bool onloading = false;
    private bool forwardDisabled = true;



    protected override async Task OnInitializedAsync()
    {
        onloading = true;
        await base.OnInitializedAsync();
        await LoadData();
        onloading = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();



        CanForward();
    }

    public void OnTemplateSelected()
    {
        groups = [];

        foreach (var category in SelectedTemplate!.Categories)
        {
            //OrderElements(category.Questions.Cast<DocumentQuestionModel>());
            groups.Add(new() { Id = category.Id, Text = category.Text, Order = category.Order, Questions = category.Questions });
        }
    }

    public async Task LoadData()
    {
        templates = await TemplateRepository.GetTemplates();
    }

    public void ChangedSelectedTemplate(object args)
    {
        CanForward();
    }

    public void CanForward()
    {
        forwardDisabled = SelectedTemplate is null;
    }

    public void Forward()
    {
        DocumentStepArgs args = new()
            {
                Object = SelectedTemplate,
                Step = DocumentStep.ChoiceTemplate
            };

        OnForward.InvokeAsync(args);
    }

    private static string CategoryText(CategoryQuestionsGroup group)
    {
        return group.Order + ". " + group.Text;
    }

    private static string QuestionText(CategoryQuestionsGroup group, string questionText, int order)
    {
        return group.Order + "." + order + " " + questionText;
    }

    private void ShowQuestions(CategoryQuestionsGroup group)
    {
        group.ShowQuestion = !group.ShowQuestion;
    }

    private string AccordionIcon(CategoryQuestionsGroup group)
    {
        return group.ShowQuestion ? "remove" : "add";
    }

    private void OrderList(ChangeObjectIndex indici)
    {

        var items = groups.Where(x => x.Id == indici.GroupNumber).SingleOrDefault().Questions;
        var itemToMove = items[indici.OldIndex];
        items.RemoveAt(indici.OldIndex);

        if (indici.NewIndex < items.Count)
        {
            items.Insert(indici.NewIndex, itemToMove);
        }
        else
        {
            items.Add(itemToMove);
        }

        //OrderElements(items);
        StateHasChanged();
    }


}
