@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared
@using Shared.Templates

@inject DialogService DialogService
@inject NotificationManager NotificationManager
@inject QuestionRepository QuestionRepository


<ScreenComponent @ref="screenComponent" />
@if (initialLoading)
{
    <Loading />
}
else
{
    @* La tabella dei campi misurazione *@
    <div class="marginComponent">
        @* <RadzenButton Icon="add" Text="Nuovo" ButtonStyle="ButtonStyle.Primary" class="ButtonAdd"
    Style="margin-bottom:2rem;margin-top:1rem;" Click="@(()=>OpenNewForm())" />*@

        <SectionTitle PageTitle="Opzioni risposta" ButtonText="+ aggiungi opzione risposta"
            SearchPlaceholder="Cerca opzione risposta" OnButtonClicked="@OpenNewForm" OnSearchChanged="@SearchChanged" />

    </div>
    <ul class="list-unstyled">
    @foreach (var choice in displayedChoices)
        {
            <li>
                <div class="marginListEntry">
                    <RadzenStack Gap="0">
                        <RadzenRow Class="rz-mt-2" JustifyContent="JustifyContent.SpaceBetween">
                            <RadzenColumn>
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Tag
                                </RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1"><b>@choice.Tag</b></RadzenText>
                            </RadzenColumn>
                            <ButtonDropdown Object="@choice" OnUpdateClicked="@OpenUpdateForm" OnDeleteClicked="@Hide" />
                        </RadzenRow>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Valore
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@choice.Value</b></RadzenText>
                    </RadzenStack>
                </div>
                <hr class="solid">
            </li>
        }
    </ul>


}