@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@using ConstructionSiteLibrary.Components.Generics
@using Shared
@using Shared.Templates

@inject DialogService DialogService
@inject NotificationManager NotificationManager
@inject QuestionRepository QuestionRepository


<ScreenComponent @ref="screenComponent"/>
@if (initialLoading)
{
    <Loading />
}
else
{
    @* La tabella dei campi misurazione *@
    <div class="marginComponent">
            @* <RadzenButton Icon="add" Text="Nuovo" ButtonStyle="ButtonStyle.Primary" class="ButtonAdd"
                          Style="margin-bottom:2rem;margin-top:1rem;" Click="@(()=>OpenNewForm())" />*@

            <SectionTitle PageTitle="Opzioni risposta" ButtonText="+ aggiungi opzione risposta" SearchPlaceholder="Cerca opzione risposta"
            OnButtonClicked="@OpenNewForm" OnSearchChanged="@SearchChanged" />

            @foreach (var choice in displayedChoices)
            {
                <RadzenCard Variant="Variant.Filled" Class="rz-my-2 rz-mx-auto" Style="max-width: 420px">
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Tag
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@choice.Tag</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Valore
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@choice.Value</b></RadzenText>

                        @* Mostro i bottoni solo se ho i permessi di modifica *@
                        <RadzenRow Class="rz-mt-2" JustifyContent="JustifyContent.Right" Gap="1rem">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Filled"
                                Size="ButtonSize.Medium" Click="@(()=>OpenUpdateForm(@choice))" class="buttonEdit"
                                />
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Light" Variant="Variant.Filled"
                                Size="ButtonSize.Medium" Click="@(()=>Disable(@choice))" class="buttonDelete"
                                 />
                        </RadzenRow>
                    </RadzenStack>

                </RadzenCard>
            }
    </div>


}