@inject UserRepository UserRepository


@if(operationSuccess)
{
    <div>
        <RadzenLabel>Il cambio password è avvenuto con successo!</RadzenLabel>
        <RadzenLabel>Prova nuovamente ad accedere utilizzando le nuove credenziali</RadzenLabel>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <RadzenButton Icon="close" Text="Chiudi" Click="@Close" />
    </div>
}
else
{
    <div class="mb-3">
        <RadzenLabel>
            Inserisci la nuova password
        </RadzenLabel>
    </div>
    <RadzenTemplateForm TItem="PasswordForm" Data="form" Submit="@Save">
        <div class="vstack gap-3">
            <RadzenFormField Text="Nuova password" Variant="@variant">
                <ChildContent>
                    <RadzenPassword @bind-Value="@form.NewPassword" Name="NewPassword" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="NewPassword" Popup=false
                                             Text="Il campo nuova password a è obbligatorio" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Ripeti nuova password" Variant="@variant">
                <ChildContent>
                    <RadzenPassword @bind-Value="@form.RepeatNewPassword" Name="RepeatPassword" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="RepeatPassword" Popup=false
                                             Text="Il campo ripeti nuova password a è obbligatorio" />
                    <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(form.RepeatNewPassword))
                                            Value=@form.NewPassword Component="RepeatPassword" Text="Le nuove password devono essere identiche" />
                </Helper>
            </RadzenFormField>
            <div class="d-flex justify-content-center mt-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salva"
                              IsBusy="onSaving" BusyText="Salva" Style="width:80%" />
            </div>
        </div>
    </RadzenTemplateForm>
}



@code {
    [Parameter]
    public EventCallback OnForward { get; set; }
    [Parameter]
    public string Email { get; set; } = "";
    [Parameter]
    public string Token { get; set; } = "";
    private Variant variant = Variant.Outlined;
    private PasswordForm form = new();
    private bool onSaving;
    private bool operationSuccess = false;


    public async Task Save()
    {

        onSaving = true;
        try
        {
            var result = await UserRepository.ChangePasswordWithToken(Email, Token, form.NewPassword!);
            if (result)
            {
                operationSuccess = true;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        onSaving = false;

    }

    public class PasswordForm
    {
        public string? NewPassword { get; set; }
        public string? RepeatNewPassword { get; set; }

        public bool IsValid { get { return CheckField(); } }

        private bool CheckField()
        {
            return NewPassword is not null
                   && RepeatNewPassword is not null;
        }
    }

    public async Task Close()
    {
        await OnForward.InvokeAsync();
    }
}
