@using Microsoft.JSInterop
@using Shared

@inject IndexedDBService dbService
@inject IJSRuntime JS

@if (dbSupport is not null)
{
    if (dbSupport.Value)
    {
        <p>IndexedDB è supportato</p>
        <div>
            <RadzenRow>
                <RadzenButton Text="Crea" Click="CreateDB" />
                <RadzenButton Text="ObjectStore" Click=@(()=>CreateObjectStore("Choices", "idChoice"))/>
                <RadzenButton Text="Leggi" Click="@ReadObjectStore" />
                <RadzenButton Text="Leggi Singolo" Click="@Read" />
                <RadzenButton Text="Cancella" Click="@Delete" />
            </RadzenRow>
        </div>
        <p>@testo</p>
    }
    else
    {
        <p>IndexedDB non è supportato</p>
        <p>@testo</p>
    }
}




@code {
    private int Versione = 1;
    private string testo = "";
    private bool? dbSupport;
    private IJSObjectReference? jsModule;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Init();
    }

    public async Task Init()
    {

        dbSupport = dbService.DbSupport;
        testo = dbSupport.ToString();
        StateHasChanged();
    }

    public async Task CreateDB()
    {
        var result = await dbService.OpenDB();
    }

    public async Task CreateObjectStore(string osName, string key)
    {
        List<ChoiceModel> choices = [];
        choices.Add(new ChoiceModel(){ Id=1, Value = "Vero", Tag ="v"});
        choices.Add(new ChoiceModel(){ Id=2, Value = "Falso", Tag ="f"});
        Console.WriteLine("osName: " + osName + " key: " + key);
        var result = await dbService.Insert(choices.Cast<object>().ToArray());
        testo = result.ToString();
    }

    public async Task ReadObjectStore()
    {
        var result = await dbService.ReadObjectStore();
        testo = result.Count().ToString();
    }

    public async Task Read()
    {
        var result = await dbService.Read();
        testo = result.ToString();
    }

    public async Task Delete()
    {
       var result = await dbService.Delete();
        testo = result.ToString();
    }

}
