@using ConstructionSiteLibrary.Model
@using Microsoft.AspNetCore.Components.Routing;
@inject NavigationService Navigation
@inject DialogService DialogService
@inject AppAuthenticationStateProvider AuthProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <p class="navbar-brand">Construction Site Report</p>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" style="margin-bottom:1rem;">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" style="padding: .5rem .9rem!important;" href="@PageRouting.HomePage" Match="NavLinkMatch.All">
                <span class="bi bi-house-door @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Cantieri</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" href="@PageRouting.TemplatePage">
                <span class="bi bi-plus-square @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Template</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" href="@PageRouting.CategoriesPage">
                <span class="bi bi-bookmarks @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Categorie</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" href="@PageRouting.QuestionPage">
                <span class="bi bi-question-square @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Domande</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" href="@PageRouting.ChoicesPage">
                <span class="bi bi-exclamation-square @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Scelte</label>
                }
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" href="@PageRouting.ClientsPage">
                <span class="bi bi-person-lines-fill @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Clienti</label>
                }
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" href="@PageRouting.CompaniesPage">
                <span class="bi bi-shop @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Aziende</label>
                }
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link navItem-size" @onclick=@Logout >
                <span class="bi bi-shop @biClassRules" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Logout</label>
                }
            </NavLink>
        </div>

    </nav>
</div>

<div class="bottom-row">
    <div class="icon-menu-arrow">

        <RadzenButton Icon=@menuIcon Click="ToggleIconMenu" Style="color: white;" Variant="Variant.Text" />



    </div>
</div>

@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    [Parameter]
    public bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string menuIcon = "arrow_back";

    private string biClassRules = "";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        UpdateToggleIconMenu();
    }


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }

    private void UpdateToggleIconMenu()
    {
        menuIcon = !IconMenuActive ? "arrow_back" : "arrow_forward";
        biClassRules = !IconMenuActive ? "" : "margin-right-zero";
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }


    private void OnLinkClick(string url)
    {
        Navigation.ChangePage(url);
    }

    private async Task Logout()
    {
        var confirmClose = await DialogService.Confirm("Sei sicuro?", "Conferma", new ConfirmOptions() { OkButtonText = "Sì", CancelButtonText = "No", ShowClose = false });

        if (confirmClose ?? false)
        {
            await AuthProvider.Logout();
        }
    }
}
