@inject NavigationService Navigation


<div class="card round-border cardClass" onclick="@(()=>OnClick())">
    <div class="round-border">
        <div class="row my-3">
            <div class="col-6">
                <h5 class="card-title title-weight text-color"><strong>@Site.Name</strong></h5>
                <p class="card-text text-size text-color">@Site.JobDescription</p>
            </div>

            <div class="col-3 d-flex align-items-center">
                <p class="card-text text-size text-color">@PrintDate(Site.StartDate)</p>
                
            </div>
            <div class="col-3 d-flex align-items-center">
                <p class="card-text text-size text-bborder text-color">@Site.Address</p>
                @* <p class="card-text"><strong>Data fine:</strong> @PrintDate(Site.EndDate)</p> *@
            </div>
        </div>
    </div>
</div>
