@using ConstructionSiteLibrary.Model;
@using ConstructionSiteLibrary.Utility;
@using ConstructionSiteLibrary.Components.Generics;
@using Shared.Documents;

@inject ConstructorSitesRepository SiteRepository
@inject DialogService DialogService


<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="mx-2 my-5">
    <SectionTitle PageTitle="I miei cantieri" ButtonText="+ aggiungi cantiere" SearchPlaceholder="Cerca cantiere"
        OnButtonClicked="@OpenForm" OnSearchChanged="@SearchChanged" />
    <div>
        @for (int i = 0; i < displayedSites.Count; i += 1)
            {
                <div class="row mt-4">
                    <div class="col">
                        <CardConstructorSite Site="@displayedSites[i]" />
                    </div>
                </div>
            }
        </div>
        <div class="mt-5">
            <AxtPager PagingSummaryFormat="@pagingSummaryFormat" Count="@count" PageSize="@pageSize"
                OnPageChanged="@PageChanged" />
        </div>
    </div>
}

@code {
    ScreenComponent? screenComponent;

    private List<ConstructorSiteModel> sites = [];
    private List<ConstructorSiteModel> displayedSites = [];
    private bool onLoading = false;
    private string search = "";
    private string pagingSummaryFormat = "Pagina {0} di {1} (Totale {2} cantieri)";
    private int count = 0;
    private int pageSize = GlobalVariables.PageSize;
    private int pageIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();
        await LoadData();
        onLoading = false;
    }

    private async Task LoadData()
    {
        sites = await SiteRepository.GetConstructorSites();
        FilterSites();
    }


    private void PageChanged(AxtPagerEventArgs args)
    {
        pageIndex = args.CurrentPage;
        FilterSites();
    }

    private void SearchChanged(string args)
    {
        search = args;
        FilterSites();
    }

    private void FilterSites()
    {
        displayedSites = sites;
        search = search.TrimStart().TrimEnd();
        if (!string.IsNullOrEmpty(search))
        {
            displayedSites = sites.Where(x => x.Name.Contains(search, StringComparison.InvariantCultureIgnoreCase)).ToList();
        }
        count = displayedSites.Count;
        SelectCurrentPage();
    }

    private void SelectCurrentPage()
    {
        var skip = pageIndex * pageSize;
        displayedSites = displayedSites.Skip(skip).Take(pageSize).ToList();
    }

    private async Task OpenForm()
    {
        var width = screenComponent.GetScreenSize();

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;max-width:600px";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
{
//tra i parametri che invio al dialog creo un EventCallback da passare al componente
{ "OnSaveComplete", EventCallback.Factory.Create(this, Reload) },
{ "CreationMode", true },
};
        await DialogService.OpenAsync<FormConstructorSite>("Nuovo cantiere", parameters: param, options: newOptions);
    }

    private async Task Reload()
    {
        DialogService.Close();
        await LoadData();
        StateHasChanged();
    }
}