@using ConstructionSiteLibrary.Model;
@using ConstructionSiteLibrary.Utility;

@inject ConstructorSitesRepository SiteRepository
@inject DialogService DialogService


<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="mx-2 my-5">
    <div class="my-5">
        <div class="hstack justify-content-between">

            <RadzenText TextStyle="TextStyle.H4" class="text-color">
                <strong>I miei cantieri</strong>
            </RadzenText>
            <RadzenFormField AllowFloatingLabel="false" Variant="@GlobalVariables.ComponentVariant" class="searchBar">
                <Start>
                    <RadzenIcon Icon="search" />
                </Start>
                <ChildContent>
                    <RadzenTextBox Placeholder="Ricerca cantieri" ValueChanged="@(args => SearchChanged(args))" />
                </ChildContent>
            </RadzenFormField>

        </div>
        <div class="row text-center mt-4">
            <div class="col-12">
                <RadzenButton Variant="Variant.Text" class="buttonNewSite" Click="@OpenForm">
                    <i><u>+ Aggiungi Cantiere</u></i>
                </RadzenButton>
            </div>
        </div>

    </div>
    <div>
        @for (int i = 0; i < displayedSites.Count; i += 1)
            {
                <div class="row mt-4">
                    <div class="col">
                        <CardConstructorSite Site="@displayedSites[i]" />
                    </div>
                </div>
            }
        </div>
        <div class="mt-5">
            <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" Density="Density.Compact"
                HorizontalAlign="HorizontalAlign.Right" Count="count" PageSize="@pageSize" PageChanged="@PageChanged" />
        </div>
    </div>
}
