@using ConstructionSiteLibrary.Model;
@using ConstructionSiteLibrary.Utility;
@using ConstructionSiteLibrary.Components.Generics;

@inject ConstructorSitesRepository SiteRepository
@inject DialogService DialogService


<ScreenComponent @ref="screenComponent" />

@if (onLoading)
{
    <Loading />
}
else
{
    <div class="mx-2 my-5">
        <SectionTitle PageTitle="I miei cantieri" ButtonText="+ aggiungi cantiere" SearchPlaceholder="Cerca cantiere"
                      OnButtonClicked="@OpenForm" OnSearchChanged="@SearchChanged" />
    <div>
        @for (int i = 0; i < displayedSites.Count; i += 1)
            {
                <div class="row mt-4">
                    <div class="col">
                        <CardConstructorSite Site="@displayedSites[i]" />
                    </div>
                </div>
            }
        </div>
        <div class="mt-5">
            <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" Density="Density.Compact"
                HorizontalAlign="HorizontalAlign.Right" Count="count" PageSize="@pageSize" PageChanged="@PageChanged" />
        </div>
    </div>
}
