@using ConstructionSiteLibrary.Model.TemplateWizard
@using ConstructionSiteLibrary.Repositories


@inject TemplatesRepository TemplatesRepository
@inject NavigationService NavigationService

<ScreenComponent @ref="screenComponent" />
@if (initialLoading)
{
    <Loading />
}
else
{
<div class="my-5">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
            <h1 class="title">Nuovo template</h1>
        </div>
        <div class="col-12 col-lg-6 mt-5 m-lg-0 d-flex justify-content-center justify-content-lg-end">
                <RadzenButton Icon="save" Text="Salva" ButtonStyle="ButtonStyle.Info" Click="@SaveTemplate" IsBusy="@onSaving" BusyText="Salva" class="my-button" Style="max-height:40px !important;" />
        </div>
    </div>
</div>

    <TemplateNameStep CurrentTemplate="@_template" />

    <TemplateSelectionStep CurrentTemplate="@_template" OnTemplateSelected="@OnTemplateChanged"/>

    <TemplateDescriptionSelectionStep CurrentTemplate="@_template" />

    <TemplateQuestionsSelectionStep @ref="@templateQuestionsSelectionStep" CurrentTemplate="@_template" />
}
