@using Microsoft.JSInterop
@using ConstructionSiteLibrary.Model.DocumentCompilation

@inject IJSRuntime JS
@inject NavigationService NavigationService

<div class="row activityBar">
    <div class="col d-flex justify-content-center justify-content-lg-start">
        <RadzenButton Variant="Variant.Text" Click="@Back" class="my-button-text">
            <RadzenIcon Icon="chevron_left" /> Indietro
        </RadzenButton>
    </div>
    <div class="col d-flex justify-content-center">
        <RadzenFormField Text="Navigazione documento" Variant="Variant.Outlined">
            <ChildContent>
                <RadzenDropDown Data="@ListaAncore" TValue="DocumentAnchor" TextProperty="Text" Change="@(args=> NavigaPagina(args))"  />
            </ChildContent>
        </RadzenFormField>

    </div>
    <div class="col d-flex justify-content-center justify-content-lg-end">
        <RadzenButton Icon="save" Text="Salva" Click="@Save" IsBusy="@onSaving" class="my-button" />
    </div>
</div>

<script>


</script>

@code {


    [Parameter]
    public EventCallback OnButtonSaveClicked { get; set; }
    [Parameter]
    public string BackButtonText { get; set; } = "Indietro";
    [Parameter]
    public List<DocumentAnchor> ListaAncore { get; set; } = [];


    private bool onSaving; 
    private const string JS_FILE = "./_content/ConstructionSiteLibrary/ActivityTopBar.js";
    private IJSObjectReference? jsModule;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        jsModule = await JS.InvokeAsync<IJSObjectReference>("import", JS_FILE);
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        ListaAncore.OrderBy(x => x.TypeIndex).ThenBy(x => x.Index);
    }

    public void ChangeOnSavingStatus(bool newStatus = false)
    {
        onSaving = newStatus;
    }


    private void Back()
    {
        NavigationService.Back();
    }

    private async Task Save()
    {
        onSaving = true;
        await OnButtonSaveClicked.InvokeAsync();
    }

    private async Task NavigaPagina(object args)
    {
        if(jsModule is not null)
        {
            var ancora = args as DocumentAnchor;
            await jsModule.InvokeVoidAsync("navigaPagina", ancora.Anchor);
        }
        else
        {
            Console.WriteLine("ERRORE: jsModule non inizializzato");
        }

    }

}
